<%= form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sport, 'Enter the sport you coach', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sport, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:gender, Profile::GENDER, :to_s, :to_s, :include_blank => false) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio, 'Tell us a little about your background playing and coaching your sport:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :bio, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :working_zip_code, 'Please enter the zip code you want to work in' :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :working_zip_code, :class => 'text_field' %>
    <!-- </div>
    <%= f.label :photo, "Attach a photo" :class => 'control-label' %>
    <div class="controls">
      <%= form.file_field :photo %>
    </div> -->
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :user_id, :user_id => user.id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn' %>
  </div>
<% end %>
