
<% provide :title, "Coach Atlas" %>

    <div class="container">
      <h1>Welcome to CoachAtlas</h1>
      <h4>Search for the perfect sports coach here!</h4>
      <h5>Just enter your sport and zip code</h5>
      <div class="leftContainer">
        <div class="searchBox">
          <table>
            <tr>
              <td></td>
            </tr>  
          </table>  

          

          <%= form_tag profiles_path, :class => 'form-horizontal', method: :get do %>
           <p>
             <%= text_field_tag :query, params[:query], :placeholder => 'Enter sport ...', :autocomplete => 'on', :type => 'text' %>
             <%= text_field_tag :query, params[:query], :placeholder => 'Enter zip code ...', :size => '5', :maxlength => '5' %>

             <%= submit_tag "Search", name: nil, :class => 'btn btn-primary' %>
           </p>
          <% end %>
        </div>
      </div>
    </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
      <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
      <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>

    <hr class="featurette-divider">

<!--       <form class="well form-search">

        <input type="text" class="input-medium search-query">
        <input type="text" class="input-medium search-query">

        <button type="submit" class="btn">Search</button>
      </form> -->
 


        
  <table>
    <tr><td><%= link_to "Coach Profiles", profiles_path %></td></tr>
    <tr><td><%= link_to "Coaching Jobs", jobs_path %></td></tr>
    <tr><td><%= link_to "Create a Profile", new_profile_path %></td></tr>
    <tr><td><%= link_to "Create a Job", new_job_path %></td></tr>
  </table>    
</div>
