<!DOCTYPE html>
<html>
  <div class="container">
    <head>
      <div id="user_header">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log Out", sessions_path("current"), method: "delete" %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %> or
          <%= link_to "Log In", new_session_path %>
        <% end %>
      </div>
      <title>Coachatlas</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <%= puts 'fjasljf' %>
      <% if flash[:notice]  %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-error"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </body>
  </div>
</html>
